@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

/*
PALETTE

GREY: 333745
OFF-WHITE: F1F7ED
RED: FE5F55
MINT 20FC8F
OFF-BLACK: 293132

*/
html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.459);
	background-image: url("/images/pokemonbw.jpg");
	font-family: 'Work Sans', sans-serif !important;
}
body{
	background: rgba(209, 209, 209, 0.61);
	min-height: 100vh;	
}
.connectingLines{
	color: #000 !important;
	background: #000 !important;
	z-index: 100;
}
#wrapper{
	height: 100%;
	width: 100%;
}
.montserrat-bold{
	font-weight: 700 !important;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.navbar{
	margin-bottom: 50px;
	color: #FFF;
	background: #fe3636;
    border-width: 0px;
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

h1{
	margin-bottom: 25px;
	margin-top: 60px;
}
.row.justify-content-center {
	
}
.background-cover{
	margin-top: 50px;
	background: rgba(209, 209, 209, 0.822);
}
.navbar-inverse .navbar-nav li a {
    color: #F1F7ED;
}
.navbar-inverse .navbar-nav li a:hover {
    color: rgb(255, 181, 177);
}
.navbar-brand{
	color: #FFF;
}
.navbar-brand:hover{
	color: #FFF;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
	background-color: #fe3636;
	border-color: #fe3636; }
	.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	  background-color: #fe1010 !important;
	  border-color: #fe1010 !important;
	  color: white; }
	.btn-primary:active, .btn-primary:focus {
	  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important; }
.btn-transparent {
	background: transparent;
	color: #ECF0F1;
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;
	border: 1px solid #fff;
}
.btn-primary:hover{
	cursor: pointer;
}
.btn-transparent:hover {
	color: #058ED9;
	background-color: #FFF;
	border: 1px solid #fff;
}
.btn-transparent:active {
	color: #058ED9;
	background-color: #FFF;
	border: 1px solid #fff;
}
.btn-transparent:focus {
	color: #058ED9;
	background-color: #F0F0F0;
	border: 1px solid #fff;
}

.btn-red{
	color: #FFF;
	border: 1px solid #FFF !important;
}.btn-red:hover{
	color: #FE5F55;
}.btn-red:focus{
	color: #FE5F55;
}.btn-red:active{
	color: #FE5F55;
}

.site-area{
	color: #FE5F55;
	transition: all 0.3s ease-in-out;	
	-webkit-transition: all 0.3s ease-in-out;
}

.site-area:hover{
	color: rgb(255, 29, 17);
	cursor: pointer;
	padding-top: 10px;		
	transition: all 0.3s ease-in-out;	
	-webkit-transition: all 0.3s ease-in-out;	
}
@keyframes fill {
	0% {
	  height: 0%;
	}
	60% {
	  height: 110%;
	}
	70% {
	  height: 95%;
	}
	80% {
	  height: 105%;
	}
	100% {
	  height: 100%;
	}
  }
  
  .box {
	width: 150px;
	height: 125px;
	position: relative;
	display: inline-block;
  }
  
  .box .container {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	z-index: 3;
	text-align: center;
	color: white;
	font-size: 14px;
	padding-top: 15px;
  }
  
  .box .container .number {
	font-size: 50px;
	margin-top: 25px;
  }
  
  .box .fill {
	z-index: 2;
	border-radius: 3px;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
  }
  
  .box .fill.speed1 {
	animation: fill 1s ease-out;
  }
  
  .box .fill.speed2 {
	animation: fill 1.1s ease-out;
  }
  
  .box .fill.speed3 {
	animation: fill 1.2s ease-out;
  }
  
  .box .fill.speed4 {
	animation: fill 1.3s ease-out;
  }
  

.ability-link{
	color: inherit !important;
	text-decoration: underline !important;
	-webkit-transition: border .2s ease-in-out;
	-moz-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}
.ability-link:hover{
	color: #333745 !important;
}

/*
**************************************
******ALL POKEMON PAGE****************
**************************************
*/

.filter-button.active{

}
#ability-details{
	margin-top: 25px;
}
.pokemon-card{
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	width: 150px;
	border-radius: 0px !important;
	font-family: "Fira Sans","Trebuchet MS","Tahoma","Ubuntu","Helvetica","Arial",sans-serif;
	cursor: pointer;
	font-size: 10px;
	color: #FFF;
	text-transform: uppercase;
	text-decoration-color: #FFF;
	text-shadow: rgb(51, 51, 51) 2px 2px 2px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

}
.inner-pokemon-card{
	height: 100%;
	padding-bottom: 10px;	
	border: 5px solid rgba(255,255,255, 0.30);
	-webkit-transition:border .2s ease-in-out;
	-moz-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.inner-pokemon-card:hover {
	background: rgba(255,255,255,0.25) !important;
	border: 5px solid rgba(255,255,255,0.50);
	cursor: pointer;
}

.poke-title{
	display: inline-block;
	border-radius: 5px;
	border: 1px solid #000;
}
/*
**************************************
******SPECIFIC POKEMON PAGE***********
**************************************
*/

.pokemon-img-small{
	cursor: pointer;
	max-width: 75px;
	display:block;
    margin:auto;
}
.pokemon-img{
	max-width: 100px;
	display:block;
    margin:auto;
}

.pokemon-info-img{
	display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.pokemon-info-tabs > li {
	color: #fff;
}

.pokemon-info-tabs > li > a {
	color: #fff;
}

.pokemon-info-tabs {
	margin-top: 75px;
}

.image-cropper {
	margin-bottom: 25px;
	margin-top: 25px;
    margin-left:auto;
	margin-right:auto;
	
	display:block;
    width: 50%;
	max-width: 250px;
	max-height: 250px;
    overflow: hidden;
    border-radius: 50%;
	border: 3px solid #FE5F55;
	background: none;
}

.ability-jumbotron{
	color: #F1F7ED !important;
}

.image-cropper {
	
    margin-left:auto;
	margin-right:auto;
	
	display:block;
	width: 50%;
	min-width: 100px;
	max-width: 250px;
	max-height: 250px;
    overflow: hidden;
    border-radius: 50%;
	border: 3px solid #75F4C9;
	background: none;
}

.evolution-img{
	margin: 0px 50px;
}

.pokemon-info-tabs > li {
	color: #fff;
}

.pokemon-info-tabs > li > a {
	color: #fff;
}

.table-fit {
	width: auto !important;

}

td > a{
	color: #FFF !important;
	text-decoration: underline;
	font-weight: 500;
}

.table-background{
	background: rgba(0, 0, 0, 0.363);
	width: 100% !important;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.table-moves-level-up{
	background: #FFCFAC !important;
}

.table-moves-tutor{
	background: #FB6107 !important;
}

.table-moves-egg{

}

.table-moves-machine{
	background: #F3DE2C !important;
}
.stat-card{
	max-width: 100px;
	margin-left: 0 !important;
	margin-right: 0 !important;
	font-weight: bold !important;
	word-wrap: break-word;
	background: #111 !important;
	padding: 5px;
}
.progress-circle {
	max-width: 100px;
	width: 20%;
	display: inline-block;
	margin: auto;
}

.progress-circle > svg {
	height: 100%;
	display: block;
}


.hp-bar{
	background: #ff0000;
}.attack-bar{
	background: #f08030;	
}.defense-bar{
	background: #f8d030;
}.special-attack-bar{
	background: #6890f0;
}.special-defense-bar{
	background: #78c850;
}.speed-bar{
	background: #f85888;	
}

/**********************************
************TYPE DISPLAYS**********
***********************************
*/
.pokemon-style-display{
	font-family: "Fira Sans","Trebuchet MS","Tahoma","Ubuntu","Helvetica","Arial",sans-serif;
	border-radius: 3px;
	color: #FFF;
	text-decoration-color: #FFF;
	text-shadow: rgb(51, 51, 51) 1px 1px 1px
}
.filter-button{
	margin-left: 10px !important;
	margin-right: 10px !important;
	display: inline;
}
.type-display{
	font-family: "Fira Sans","Trebuchet MS","Tahoma","Ubuntu","Helvetica","Arial",sans-serif;
	cursor: pointer;
	font-size: 10px;
	text-align: center;
	border-radius: 3px;
	display: inline-block;
	color: #FFF;
	min-width: 65px !important;
	padding: 5px 10px;
	margin: 5px 0px;
	border: 1px solid rgba(0,0,0, 0.25);
	text-transform: uppercase;
	text-decoration-color: #FFF;
	text-shadow: rgb(51, 51, 51) 1px 1px 1px;
}
.type-normal {
    background: #8a8a59;
    background-image: -webkit-linear-gradient(#a8a878,#8a8a59);
    background-image: linear-gradient(#a8a878,#8a8a59);
    border-color: #79794e
}

.type-fire {
    background: #f08030;
    background-image: -webkit-linear-gradient(#f08030,#dd6610);
    background-image: linear-gradient(#f08030,#dd6610);
    border-color: #b4530d
}

.type-water {
    background: #6890f0;
    background-image: -webkit-linear-gradient(#6890f0,#386ceb);
    background-image: linear-gradient(#6890f0,#386ceb);
    border-color: #1753e3
}

.type-electric {
    background: #f8d030;
    background-image: -webkit-linear-gradient(#f8d030,#f0c108);
    background-image: linear-gradient(#f8d030,#f0c108);
    border-color: #c19b07
}

.type-grass {
    background: #78c850;
    background-image: -webkit-linear-gradient(#78c850,#5ca935);
    background-image: linear-gradient(#78c850,#5ca935);
    border-color: #4a892b
}

.type-ice {
    background: #98d8d8;
    background-image: -webkit-linear-gradient(#98d8d8,#69c6c6);
    background-image: linear-gradient(#98d8d8,#69c6c6);
    border-color: #45b6b6
}

.type-fighting {
    background: #c03028;
    background-image: -webkit-linear-gradient(#c03028,#9d2721);
    background-image: linear-gradient(#c03028,#9d2721);
    border-color: #82211b
}

.type-poison {
    background: #a040a0;
    background-image: -webkit-linear-gradient(#a040a0,#803380);
    background-image: linear-gradient(#a040a0,#803380);
    border-color: #662966
}

.type-ground {
    background: #e0c068;
    background-image: -webkit-linear-gradient(#e0c068,#d4a82f);
    background-image: linear-gradient(#e0c068,#d4a82f);
    border-color: #aa8623
}

.type-flying {
    background: #a890f0;
    background-image: -webkit-linear-gradient(#a890f0,#9180c4);
    background-image: linear-gradient(#a890f0,#9180c4);
    border-color: #7762b6
}

.type-psychic {
    background: #f85888;
    background-image: -webkit-linear-gradient(#f85888,#f61c5d);
    background-image: linear-gradient(#f85888,#f61c5d);
    border-color: #ba083d
}

.type-bug {
    background: #a8b820;
    background-image: -webkit-linear-gradient(#a8b820,#8d9a1b);
    background-image: linear-gradient(#a8b820,#8d9a1b);
    border-color: #616b13
}

.type-rock {
    background: #b8a038;
    background-image: -webkit-linear-gradient(#b8a038,#93802d);
    background-image: linear-gradient(#b8a038,#93802d);
    border-color: #746523
}

.type-ghost {
    background: #705898;
    background-image: -webkit-linear-gradient(#705898,#554374);
    background-image: linear-gradient(#705898,#554374);
    border-color: #413359
}

.type-dragon {
    background: #7038f8;
    background-image: -webkit-linear-gradient(#7038f8,#4c08ef);
    background-image: linear-gradient(#7038f8,#4c08ef);
    border-color: #3d07c0
}

.type-steel {
    background: #b8b8d0;
    background-image: -webkit-linear-gradient(#b8b8d0,#9797ba);
    background-image: linear-gradient(#b8b8d0,#9797ba);
    border-color: #7a7aa7
}

.type-dark {
    background: #705848;
    background-image: -webkit-linear-gradient(#705848,#513f34);
    background-image: linear-gradient(#705848,#513f34);
    border-color: #362a23
}

.type-fairy {
    background: #e898e8;
    background-image: -webkit-linear-gradient(#e898e8,#de6ede);
    background-image: linear-gradient(#e898e8,#de6ede);
    border-color: #d547d5
}

.type-curse {
    background: #68a090;
    background-image: -webkit-linear-gradient(#68a090,#4e7c6f);
    background-image: linear-gradient(#68a090,#4e7c6f);
    border-color: #41685d
}

