{% extends "layout.html" %} {% block content %} {% include "navbar.html" %}
<div id="wrapper">
    <div class="row justify-content-center">
        <h1 class="montserrat-bold">ALL ABILITIES</h1>
    </div>
    <div class="row justify-content-center ">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <table id="move-table" class="stripe row-border pokemon-style-display table-background table-sm">
                <thead class="pokemon-style-display">
                    <tr>
                        <th>Ability</th>
                        <th>Introduced In</th>
                        <th>Main Series?</th>
                    </tr>
                </thead>
                <tbody>

                    {% for ability in abilities %}
                    <tr>
                        {% set href = ability.is_main_series ? "/abilities/" ~ ability.id : "#"%}
                        <td>
                            <a href="{{href}}">{{ability.identifier|title}}</a>
                        </td>
                        <td>{{ability.generation | default('--')}}</td>
                        <td>{{ ability.is_main_series ? 'Yes':'No' }}</td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#move-table').DataTable();
        });
    </script>
</div>
{% endblock %}