{% block nav %}
<nav class="navbar navbar-expand-md navbar-inverse pokemon-style-display">
  <a class="navbar-brand" href="/"><img src="/android-chrome-192x192.png" style="height: 1.5em; margin-right:2px;">POKEVIEWER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/pokemon">POKEMON</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/moves">MOVES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/abilities">ABILITIES</a>
      </li>  
    </ul>
  </div>
</nav>
{% endblock %}