{% extends "layout.html" %} {% block content %} {% include "navbar.html" %}

<div id="wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
      <div class="image-cropper">
        <img class="pokemon-info-img" src="{{sprites.front_default}}" alt="Card image cap" />
      </div>
      <div class="text-center">
        <h1>{{ name | title}}</h1>
        <h3>#{{order}}</h3>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="card mb-3">
      <div class="card-block">
        <table class="table">
          <tbody>
            <tr>
              {% set typeLabel = "Type" %} {% if types|length > 1 %} {% set typeLabel = "Types" %} {% endif %}
              <th scope="row">{{typeLabel}}:</th>
              <td>
                {% for type_item in types %}
                <a href="{{type_item.type.url}}" />
                <span class="type-display type-{{type_item.type.name}}">{{type_item.type.name | upper}}</span>
                </a>
                {% endfor %}
              </td>
            </tr>
            <tr>
              {% set abilityLabel = "Ability" %} {% if abilities|length > 1 %} {% set abilityLabel = "Abilities" %} {% endif %}
              <th scope="row">{{abilityLabel}}:</th>
              <td>
                <ul class="list-group">
                  {% for ability_item in abilities %}
                  <li class="list-group-item justify-content-between">
                    <a href="/abilities/{{ability_item.ability.id}}">{{ability_item.ability.name | title}}</a>
                    {% if ability_item.is_hidden %}
                    <span class="badge badge-default badge-pill">Hidden</span>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Height:</th>
              <td> {{height/10}} m</td>
            </tr>
            <tr>
              <th scope="row">Weight:</th>
              <td> {{weight/10}} kg</td>
            </tr>
            <tr>
              <th scope="row">Base Exp:</th>
              <td> {{base_experience}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <h2>Base Stats</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <div class="row justify-content-center">
        {% set names = {"hp":"HP", "attack":"Atk", "defense":"Def", "special-attack":"Sp. Atk", "special-defense":"Sp. Def", "speed":"Speed"}
        %} {% set colors = {"hp":"#ff0000", "attack":"#f08030", "defense":"#f8d030", "special-attack":"#6890f0", "special-defense":"#78c850",
        "speed":"#f85888"} %} {% for stat_item in stats|sort %}

        <div class="col-xs-4 col-md-3 col-lg-2">
          <div class="card text-center stat-card">
            <div class="card-block">
              <h4 class="card-title" style="color:{{attribute(colors, stat_item.stat.name)}};">{{attribute(names, stat_item.stat.name)}}</h4>
            </div>
            <div class="card-img-bottom progress-circle" id="progress-{{stat_item.stat.name}}" name="progress-{{stat_item.stat.name}}"
              data-label="{{stat_item.base_stat}}" data-value="{{stat_item.base_stat}}" data-color="{{attribute(colors, stat_item.stat.name)}}"></div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    
        {% set machine_moves = [] %}
        {% set lvl_up_moves = [] %}
        {% set egg_moves = [] %}   
        {% set tutor_moves = [] %}   

        {% for move_entry in moves %}
          {% if move_entry.version_group_details[0].move_learn_method.name == "level-up" %}
           {% set lvl_up_moves = lvl_up_moves|merge([move_entry]) %}
          {% elseif move_entry.version_group_details[0].move_learn_method.name == "machine" %}
            {% set machine_moves = machine_moves|merge([move_entry]) %}
          {% elseif move_entry.version_group_details[0].move_learn_method.name == "tutor" %}    
            {% set tutor_moves = tutor_moves|merge([move_entry]) %}           
          {% elseif move_entry.version_group_details[0].move_learn_method.name == "egg" %}
            {% set egg_moves = egg_moves|merge([move_entry]) %}   
          {% endif%}
        {% endfor %}

       {% set move_categories = [ (lvl_up_moves), (machine_moves), (tutor_moves), (egg_moves)] %}
        {% for move_entry in lvl_up_moves %}
        
        {% endfor %}
        {% for move_entry in egg_moves %}

        {% endfor %}
        {% for move_entry in tutor_moves %}
        
        {% endfor %}
<div class="row justify-content-center">
{% for category in (move_categories) %}
  {% if category[0] is defined %}
  {% set learn_method = category[0].version_group_details[0].move_learn_method.name %}
  <div class="col-xs-10">
    <table class="table table-striped table-fit table-hover table-moves-{{learn_method}}">
        <thead>
            <h3>Moves Learned via {{learn_method | title}}</h3>
          <tr>
            <th>Lvl.</th>
            <th>Move</th>
            <th>Type</th>
            <th>Cat.</th>
            <th>Power</th>
            <th>Acc.</th>
          </tr>
        </thead>
        <tbody>
        {% for move_entry in category %}
        <tr>
            <td>{{move_entry.version_group_details[0].level_learned_at}}</td>
            <td>
              <a href="#">{{move_entry.move.name | title}}</a>
            </td>
            <td>fire</td>
            <td>Special</td>
            <td>90</td>
            <td>90</td>
          </tr>
        {% endfor %}
    </tbody>
    </table>
  </div>
  {% endif %}
{% endfor %}
</div>
  </div>
</div>
<script src="/js/progressbar.min.js"></script>
<script>
  jQuery(document).ready(function () {
    const MAX_STAT = 255;

    $('.progress-circle').each(function () {
      var color = $(this).data().color;
      var percent = $(this).data().value / MAX_STAT;
      var text = $(this).data().label;
      var circle = new ProgressBar.Circle('#' + this.id, {
        color: color,
        duration: 3000,
        strokeWidth: 8,
        easing: 'easeInOut',
        // Fill color for the shape. If null, no fill.
        // Default: null
        fill: "#F1F7ED",

        // Duration for animation in milliseconds
        // Default: 800
        duration: 1200,

        text: {
          // Initial value for text.
          // Default: null
          value: text,
          style: {
            color: '#293132',
            position: 'absolute',
            left: '50%',
            top: '50%',
            padding: 0,
            margin: 0,
            // You can specify styles which will be browser prefixed
            transform: {
              prefix: true,
              value: 'translate(-50%, -50%)'
            }
          },
        }
      });
      circle.animate(percent);
    });
  });

  function shadeColor(color, percent) {
    var f = parseInt(color.slice(1), 16),
      t = percent < 0 ? 0 : 255,
      p = percent < 0 ? percent * -1 : percent,
      R = f >> 16,
      G = f >> 8 & 0x00FF,
      B = f & 0x0000FF;
    return "#" + (0x1000000 + (Math.round((t - R) * p) + R) * 0x10000 + (Math.round((t - G) * p) + G) * 0x100 + (Math
      .round(
        (t - B) * p) + B)).toString(16).slice(1);
  }
</script>
{% endblock %}