{% extends "layout.html" %} {% block content %} {% include "navbar.html" %}

<div id="wrapper">
  <div class="row justify-content-center pokemon-style-display ">
    <div id="poke-info-col" class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <div class="text-center">
        <h1>{{ identifier | title}}</h1>
        <h3>#{{order}}</h3>
      </div>
      <div id="current_poke" class="image-cropper type-{{types[0].identifier}}">
        <img class="pokemon-info-img" src="/images/sprites/pokemon/{{id}}.png" alt="Card image cap" />
      </div>
      <div>
        <table style="margin:auto">
          <tr>
            <td class="text-center">
              {% if evolves_from_id is defined and evolves_from_id is not null %}
              <div id="evolves_from" class="image-cropper evolution-img type-{{types[0].identifier}}">
                <a href="/pokemon/{{evolves_from_id}}">
                  <img class="pokemon-info-img" src="/images/sprites/pokemon/{{evolves_from_id}}.png" alt="Card image cap" />
                </a>
              </div>
              Evolves from {{evolves_from_identifier | title }} {% endif %}

            </td>
            <td class="text-center">
              {% if evolves_to_id is defined and evolves_to_id is not null %}
              <div id="evolves_to" class="image-cropper evolution-img type-{{types[0].identifier}}">
                <a href="/pokemon/{{evolves_to_id}}">
                  <img class="pokemon-info-img" src="/images/sprites/pokemon/{{evolves_to_id}}.png" alt="Card image cap" />
                </a>
              </div>
              Evolves into {{evolves_to_identifier | title}} {% endif %}
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="card mb-3">
      <div class="card-block">
        <table class="table">
          <tbody>
            <tr>
              {% set typeLabel = "Type" %} {% if types|length > 1 %} {% set typeLabel = "Types" %} {% endif %}
              <th scope="row">{{typeLabel}}:</th>
              <td>
                {% for type in types %}
                <a href="/types/{{type.id}}">
                  <span class="type-display type-{{type.identifier}}">{{type.identifier | upper}}</span>
                </a>
                {% endfor %}
              </td>
            </tr>
            <tr>
              {% set abilityLabel = "Ability" %} {% if abilities|length > 1 %} {% set abilityLabel = "Abilities" %} {% endif %}
              <th scope="row">{{abilityLabel}}:</th>
              <td>
                <ul class="list-group">
                  {% for ability in abilities %}
                  <li class="list-group-item justify-content-between">
                    <a href="/abilities/{{ability.id}}">{{ability.identifier | title}}</a>
                    {% if ability.is_hidden %}
                    <span class="badge badge-default badge-pill">Hidden</span>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Height:</th>
              <td> {{height/10}} m</td>
            </tr>
            <tr>
              <th scope="row">Weight:</th>
              <td> {{weight/10}} kg</td>
            </tr>
            <tr>
              <th scope="row">Base Exp:</th>
              <td> {{base_experience}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row justify-content-center pokemon-style-display">
    <h1>{{identifier | title}}'s Base Stats</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <div class="row justify-content-center">
        {% set names = {"hp":"HP", "attack":"Atk", "defense":"Def", "special-attack":"Sp. Atk", "special-defense":"Sp. Def", "speed":"Speed"}
        %} {% set colors = {"hp":"#ff0000", "attack":"#f08030", "defense":"#f8d030", "special-attack":"#6890f0", "special-defense":"#78c850",
        "speed":"#f85888"} %} {% for stat in stats|sort %}

        <div class="box">
            <div class="container">
              <span class="number">{{stat.base_stat}}</span>
              <br />
              <h4>{{attribute(names, stat.identifier)}} </h4>
            </div>
            <div class="fill speed{{random(3)+1}}" style="background : {{attribute(colors, stat.identifier)}}; "></div>
          </div> 
        {% endfor %}
        
      </div>
    </div>
  </div>
  <div class="row justify-content-center pokemon-style-display">
    <div class="col-xs-12 col-md-10 col-lg-6 text-center">
      <h1>{{identifier | title}}'s Learnset:</h1>
    <table id="poke-move-table" class="table pokemon-style-display type-{{types[0].identifier}} table-inverse table-sm">
      <thead>
        <tr>
          <th>Lvl.</th>
          <th>Move</th>
          <th>Type</th>
          <th>Cat.</th>
          <th>Power</th>
          <th>Acc.</th>
          <th>Method</th>
        </tr>
      </thead>
      <tbody>
        {% for move in moves %}
        <tr>
          <td>{{move.level}}</td>
          <td>
            <a href="/moves/{{move.id}}">{{move.identifier | title}}</a>
          </td>
          <td>
            <a href="#">
              <span class="type-display type-{{move.type}}">{{move.type | upper}}</span>
            </a>
          </td>
          <td>Special</td>
          <td>{{move.power}}</td>
          <td>{{move.accuracy}}</td>
          <td>{{move.learn_method | title}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>
</div>
<script>
  jQuery(document).ready(function () {
    const MAX_STAT = 255;

      $('#poke-move-table').DataTable();

    function increment(){
      $('.box').hide();
      setTimeout(function(){
        $('.box').show();
      },100);
    
      $('.number').each(function(){
        var $this = $(this),
            value = $this.text();
        $({someValue: 0}).animate({someValue: value}, {
          duration: 1200,
          easing:'swing', 
          step: function() {      
            $this.text(Math.round(this.someValue));
          },
          complete: function() {
            $this.text(value);
          }
        });
      });  
    }
    
    increment(); 
    

    
    $('.progress-circle').each(function () {
      var color = $(this).data().color;
      var percent = $(this).data().value / MAX_STAT;
      var text = $(this).data().label;
      var circle = new ProgressBar.Circle('#' + this.id, {
        color: color,
        duration: 3000,
        strokeWidth: 8,
        easing: 'easeInOut',
        // Fill color for the shape. If null, no fill.
        // Default: null
        fill: "#F1F7ED",

        // Duration for animation in milliseconds
        // Default: 800
        duration: 1200,

        text: {
          // Initial value for text.
          // Default: null
          value: text,
          style: {
            color: '#293132',
            position: 'absolute',
            left: '50%',
            top: '50%',
            padding: 0,
            margin: 0,
            // You can specify styles which will be browser prefixed
            transform: {
              prefix: true,
              value: 'translate(-50%, -50%)'
            }
          },
        }
      });
      circle.animate(percent);
    });
  });

  function shadeColor(color, percent) {
    var f = parseInt(color.slice(1), 16),
      t = percent < 0 ? 0 : 255,
      p = percent < 0 ? percent * -1 : percent,
      R = f >> 16,
      G = f >> 8 & 0x00FF,
      B = f & 0x0000FF;
    return "#" + (0x1000000 + (Math.round((t - R) * p) + R) * 0x10000 + (Math.round((t - G) * p) + G) * 0x100 + (Math
      .round(
        (t - B) * p) + B)).toString(16).slice(1);
  }
</script>
{% endblock %}